
body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.parallax-container {
    height: 500px;
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(170, 213, 213, 0.5);
  }

  table.highlight > tbody > tr:hover {
    background-color: rgba(255, 181, 145, 0.5);
  }
  
  #form, table, .card, .signin {
      border: 2pt solid;
  }

  #form {
      font-size: 20px;
  }
  .change {
      margin-top: 10px;
  }

  .card {
      font-size: 20px;
  }

  .input-field label {
    color: #000;
  }

  
   
