
.parallax-container {
    height: 500px;
}

table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(170, 213, 213, 0.5);
  }

  table.highlight > tbody > tr:hover {
    background-color: rgba(255, 181, 145, 0.5);
  }
  
  #form, .card {
      border: 1pt solid;
  }

  table {
      border: 1pt solid;
  }

  
  
   
